
.wrapper{
  
  margin: auto;
  height: 100vh;
}
.side-nav{
  background-color: #2c3531;
  position: sticky;
  /* padding: 10px;
  position: fixed; */
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  
     
  
  /* margin-left: 10px; */
  top:0
}


#top-nav{
background-color: #116466; 
position:sticky;
top:0;
padding-top: 20px;
padding-bottom: 20px;
z-index: 1;
}
.nav-link:hover{
 text-shadow: 2px 4px 3px black;
 

}
img{
  /* height : 300px; */
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
  border: 10px solid #d1e8e2;
  padding: 10px;
  margin-top: 20px;
  position: sticky;
  /* margin-right: auto; */
}
.card{
  margin: 10px;
}
h2{
  position: sticky;
  top: 80px;
  font-size: 3.8vw !important;
  margin-left: 5px
 
}

.explore-title, .explore-text, .explore-btn{
  font-family: 'Press Start 2P' !important;
  background-color: '#474853';
  color: white
}

.explore-btn{
  background-color: #844d36 !important
}
.explore-card{
  background-color: #474853;
  border: solid !important ;
  border-color: #8E8269 !important;
  
}

.listlo-btn{
  background-color: #008080 !important;
    color: white !important;
    border-radius: 0.25rem !important;
}
.listlo-btn:hover{
  background-color: #F68B6B !important;
  color: white !important;
  border: 3px solid white !important;
  border-radius: 0.25rem !important;
}

.listlo-card{
  background-color: #1A4A55 !important;
  border: 12px solid #F68B6B
}

.listlo-title{
  width: 200px;
  height: 200px;
  
  
}
/* .listlo-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  

} */

#navLink{
  text-align: right;
  float: right;
  padding: 8px;
  margin-top: 14px;
  font-family: 'Oswald', sans-serif !important;
  
} 
.about-me-content, #card-columns, .contact-form{
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-color: #d9b08c;
  border-bottom-style: solid;
  border-bottom-width:  4px;

}

.about-me, .projects, .contact{
  text-align: right;
  /* border-right-style: solid;
  border-right-color: #ffcb9a;
  border-right-width: 4px; */
  font-family: 'Oswald', sans-serif;
  
}


.sidebar-footer{
  max-width: 100%;
  padding-left: 15px;
  position: absolute;
  bottom: 0;
  text-align: center;

}

.nav-link{
   color: #d1e8e2"
}

/* Link Color */
.fa-github-square, .fa-linkedin{
  color: #d1e8e2;
}
@media (min-width:1400px) {
  .card-columns {
    column-count: 2;
  }
}
@media screen and (max-width: 766px){
  h2{
    text-align: center;
    margin-top: 15px !important;
    font-size: 25px !important;
  }
  .about-me, .projects, .contact{
    text-align: right;
    border-right-style: none;
    border-right-color: #ffcb9a;
    border-right-width: 4px;
    font-family: 'Oswald', sans-serif;

  }
  .about-me-content, #card-columns, .contact-form{
    padding: 25px;
   
    
   
  }
}
